.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.password-div {
  align-items: center;
  display: flex;
}
